@use '@angular/material' as mat;
@include mat.core();

$marvel-primary: (
  50 : #e5eef6,
  100 : #bfd6e8,
  200 : #95bad9,
  300 : #6a9eca,
  400 : #4a8abe,
  500 : #2a75b3,
  600 : #256dac,
  700 : #1f62a3,
  800 : #19589a,
  900 : #0f458b,
  A100 : #bcd6ff,
  A200 : #89b8ff,
  A400 : #5699ff,
  A700 : #3c89ff,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);

$marvel-accent: (
  50 : #fefae1,
  100 : #fbf2b3,
  200 : #f9ea81,
  300 : #f7e14f,
  400 : #f5da29,
  500 : #f3d403,
  600 : #f1cf03,
  700 : #efc902,
  800 : #edc302,
  900 : #eab901,
  A100 : #ffffff,
  A200 : #fff7de,
  A400 : #ffebab,
  A700 : #ffe591,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$my-primary: mat.define-palette($marvel-primary, 500);
$my-accent: mat.define-palette($marvel-accent, A200, A100, A400);

$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent
  ),
  typography: mat.define-typography-config(),
  density: 0
));

@include mat.all-component-themes($my-theme);
