<mat-sidenav-container class="container">
  <mat-sidenav #sidenav
    mode="side"
    class="sidenav"
    (mouseenter)="toggleSidenavState()"
    (mouseleave)="toggleSidenavState()"
    [@onSidenavChange]="sidenavState() ? 'open' : 'close'"
  >
    <div class="menu">

      <div class="top-menu">
        <div class="menu-item">
          <mat-icon fontIcon="person" class="menu-item-icon"></mat-icon>
          <h2 class="menu-item-title">Characters</h2>
        </div>

        <div class="menu-item">
          <mat-icon fontIcon="book" class="menu-item-icon"></mat-icon>
          <h2 class="menu-item-title">Comics</h2>
        </div>
      </div>

      <div class="bottom-menu">
        <div class="menu-item">
          <mat-icon fontIcon="settings" class="menu-item-icon"></mat-icon>
          <h2 class="menu-item-title">Settings</h2>
        </div>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="toolbar">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon fontIcon="menu"></mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon fontIcon="search"></mat-icon>
      </button>
    </mat-toolbar>

    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
