<mat-sidenav-container class="container">
  <mat-sidenav #sidenav
    mode="side"
    class="sidenav"
    (mouseenter)="toggleSidenavState()"
    (mouseleave)="toggleSidenavState()"
    [@onSidenavChange]="sidenavState() ? 'open' : 'close'"
  >
    <div class="menu">
      @for(route of routes; track route.path; let last = $last) {
        <a [routerLink]="[ '/', route.path ]"
          [ngClass]="{'settings': route.path === 'settings'}"
          class="menu-item"
        >
          <mat-icon [fontIcon]="route.icon" class="menu-item-icon"></mat-icon>
          {{ route.title }}
        </a>
      }
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="toolbar">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon fontIcon="menu"></mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon fontIcon="search"></mat-icon>
      </button>
    </mat-toolbar>

    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
